
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
AddDefaultCharset utf-8
AddType 'text/html; charset=utf-8' .html .htm .shtml

#RewriteCond %{HTTPS} !=on
#RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]
#Errors cicle ERR_TOO_MANY_REDIRECTS

#RewriteCond %{HTTPS} off
#RewriteCond %{HTTP:X-Forwarded-Proto} !https
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# 2019-01-17
# сжатие text, html, javascript, css, xml:
<ifModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/css text/javascript application/javascript application/x-javascript
</ifModule>
 
# кеш браузера
<ifModule mod_expires.c>
ExpiresActive On

# Включаем кэширование css, javascript и текстовых файлоф на одну неделю   604800 seconds
ExpiresByType text/css "access plus 60 seconds"

</ifModule>

# Black list ip-address
#<Limit GET POST>
#order allow, deny
allow from all

allow from 185.52.69.102

deny from 185.130.207.239
deny from 51.38.162.236
deny from 217.118.79.36

# 2019-01-21
deny from 142.93.176.133

#</Limit>
