/* 
../blocks/b-social/b-social.css

Host          : https://www.baraban16.ru         
Author        : Vladimir Pavlychev ;            
E-mail        : www@osarts.ru ;                 
Create        : 2017.02.18 ;                  
Time          : 14:29 ;                         
Modified      : 2018.02.18                  
Modified Time : 14:29 ;                         

=========================================
Version       : 1.8.0
=========================================

*/

.b-social {
	
	margin-bottom: 40px;
	margin-top: 0px;
	margin-left: 50px;
	padding-top: 0px;"
}