/* 
../blocks/b-sk9-econom/b-sk9-econom.css

Host          : https://www.baraban16.ru         
Author        : Vladimir Pavlychev ;            
E-mail        : www@osarts.ru ;                 
Create        : 2020.02.17 ;                  
Time          : 18:22 ;                         
Modified      : 2020.02.17                  
Modified Time : 18:30 ;

=========================================
Version       : 4.0.4
=========================================

*/

.b-sk9-econom {
    margin-left: 20px;
    padding-left: 20px;
    margin-top: 150px;
    margin-bottom: 150px;
}