/* ===  .blocks/b-place-development/b-place-development.css"  
Host 		  : http://www.baraban16.ru 		
Author   	  : Vladimir Pavlychev ;			
E-mail   	  : www@osarts.ru ;					
Create   	  : 2018.12.10 ;                  
Time     	  : 18:24 ; 						
Modified 	  : 2018.12.10					
Modified Time : 18:25 ; 						
Version  	  : 3.2.0							*/

.b-place-development {
	background-color: green;
}