/* ===  ../blocks/b-opilki/b-opilki.css"  
Host 		  : http://www.baraban16.ru 		
Author   	  : Vladimir Pavlychev ;			
E-mail   	  : www@osarts ;					
Create   	  : 2016.11.28 ;                  
Time     	  : 11:10 ; 						
Modified 	  : 2019.01.17					
Modified Time : 17:53 ; 						
Version  	  : 3.3.2							*/

.b-opilki {
	margin-top: 14px;
}

.b-opilki__title {}

.b-opilki__preview {
	max-width: 1200px;
}

.b-opilki__img {
	margin-top: 30px;
	max-width: 320px;

	padding-right: 0px;
	margin-left: 16px;
	padding-left: 0px;

}

.b-opilki__price {
	/* text-align: center;*/
}

.b-opilki__btn {
	margin-top: 26px;
	display: inline-block;
	padding-left: 60px;
}

.b-opilki__demo {
	margin-top: 30px;
	width: 350px;
}

.b-opilki__opis {
	margin-top: 20px;
}

.b-opilki__rubl {
	margin-left: 135px;
}

/*
  	display: block;
    margin: 6em auto;
    position: relative;
    width: 82em;

*/