/*  
../blocks/b-upgrade-list/b-upgrade-list.css

Host          : https://www.baraban16.ru         
Author        : Vladimir Pavlychev ;            
E-mail        : www@osarts.ru ;                 
Create        : 2017.02.18 ;                  
Time          : 12:52 ;                         
Modified      : 2018.02.18                  
Modified Time : 12:54 ;                         

=========================================
Version       : 1.8.0
=========================================
*/

.b-upgrade-list {
	
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 0px;"
}