/* ===  ../blocks/b-opilki/b-opilki.css"  
Host 		  : http://www.baraban16.ru 		
Author   	  : Vladimir Pavlychev ;			
E-mail   	  : www@osarts ;					
Create   	  : 2016.11.28 ;                  
Time     	  : 11:42 ; 						
Modified 	  : 2016.11.28					
Modified Time : 11:43 ; 						
Version  	  : 1.0.0							*/

.b-dostavka{
	
}

.b-dostavka__img{

}

/*
  	display: block;
    margin: 6em auto;
    position: relative;
    width: 82em;

*/