/* ===  ./blocks/b-call-to-action/b-call-to-action.css"  
Host 		  : http://www.baraban16.ru 		
Author   	  : Vladimir Pavlychev ;			
E-mail   	  : www@osarts.ru ;					
Create   	  : 2017.12.01 ;                  
Time     	  : 15:19 ; 						
Modified 	  : 2017.12.01					
Modified Time : 15:22 ; 						
Version  	  : 2.1.4							*/

.b-call-to-action {
	margin: 30px 30px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: blink;
    border: solid;
    border-left-width: 15px;
    border-right-width: 15px;
	border-color: #FF7C00;
    padding-bottom: 25px;
    padding-top: 25px;
    border-top-width: 0px;
    border-bottom-width: 0px;



}