/* ===  ./blocks/b-downloads1/bb-downloads1.css"  
Host 		      : http://www.baraban16.ru 		
Author   	    : Vladimir Pavlychev ;			
E-mail   	    : www@osarts.ru ;					
Create   	    : 2019.04.02 ;                  
Time     	    : 21:24 ; 						
Modified 	    : 2019.04.02					
Modified Time : 21:32 ; 						
Version  	    : 3.4.0							*/


/*=====================================================================================
    Yandex-Money-Widjet section
======================================================================================*/


.b-ym-widjet {
  margin-top: 30px;
}